@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

:root {
    font-size: 16px;
    --color-primary: #0065FC;
    font-family: 'Raleway', sans-serif;
}

/**
 * GENERIC
 */

h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 8px 0;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    margin:0;
}

h4 {
    font-size: 15px;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/**
 * LAYOUT
 */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.body_container {
    margin: 0 auto;
    max-width: 1400px;
}

.container {
    padding: 10px 50px;
}

.logo {
    width: auto;
    height: 20px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu a {
    display: block;
    padding: 50px 20px;
    margin: 0 25px;
}

.menu a:hover {
    text-decoration: none;
    color: var(--color-primary);
    border-top: solid 2px var(--color-primary);
    padding-top: 48px;
}

.search {
    display: flex;
    box-shadow: none;
    outline: none;
    white-space: nowrap;
    width: fit-content;
}

.search_text {
    height: 49px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    vertical-align: bottom;
    margin-left: -5px;
}

.search_button .fa {
    display: none;
}

.search_icon {
    background-color: #F2F2F2;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    height: 49px;
}

.search_button {
    background-color: var(--color-primary);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border: 1px solid var(--color-primary);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 16px;
    text-decoration: none;
    height: 49px;
    margin-left: -5px;
}

.filters {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.filter_title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 42px;
}

.filter_button {
    margin-bottom: 10px;
    margin-right: 36px;
    background-color: transparent;
    border-radius: 28px;
    border: 2px solid #D9D9D9;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
}

.filter_button:hover {
    background-color: #DEEBFF;
}

.filter_button:active {
    position: relative;
    top: 1px;
}

.information {
    display: flex;
}

.icon_info {
    padding-right: 10px;
}

.accommodations {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.star {
    font-size: 12px;
}

.icon_blue {
    color: var(--color-primary);
}

.icon_grey {
    color: #D9D9D9;
}

.accommodation_main {
    margin-right: 40px;
    padding: 42px 40px;
    border-radius: 30px;
    background-color: rgb(242, 242, 242);
}

.accommodation_main_articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* add a negative top-margin to the flex container */
    margin: -30px 0 0 0;
}

/* source https://stackoverflow.com/questions/35578404/giving-wrapped-flexbox-items-vertical-spacing */
/* add a corresponding positive top margin to all flex items (all direct children of the flex container) */
.accommodation_main_articles > a {
    margin-top: 30px;
}

.accommodation_title {
    margin-bottom: 20px;
}

.accommodation_main_article {
    width: 235px;
    height: 199px;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 5px 5px rgb(231, 231, 231);
}

.accommodation_main_article h3 {
    margin-top: 4px;
    font-size: 16px;
}

.accommodation_main_img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* Equivalent à : border-radius: 20px 20px 0px 0px;*/
    display: block;
    width: 100%;
    height: 124px;
    object-fit: cover;
}

.accommodation_main_text {
    line-height: 23px;
    margin-left: 14px;
}

.accommodation_main_plus {
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}

.accommodation_aside {
    padding: 42px 40px;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
    min-width: 350px;
}

.accommodation_aside_article {
    display: flex;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgb(231, 231, 231);
    margin-bottom: 20px;
    height: 144px;
}

.accommodation_aside_img img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: block;
    width: 137px;
    height: 100%;
    object-fit: cover;
}

.accommodation_aside_text {
    margin-left: 15px;
    line-height: 23px;
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

.accommodation_aside_text h3 {
    margin-top: 5px;
    font-size: 16px;
}

.popular_header {
    display: flex;
    flex-direction: row;
}

.popular_icon {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
}

.down_text {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.activity_list {
    display: flex;
    gap: 43px;
    flex-direction: row;
}

.activity_list > a {
    flex-grow: 1;
    flex-basis: 302px;
}

.activity_article {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgb(231, 231, 231);
}

.activity_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 389px;
    position: relative;
    overflow: hidden;
}

.activity_img img {
    object-fit: cover;
    position: absolute;
    height: 115%;
}

.activity_text {
    display: flex;
    height: 56px;
    align-items: center;
    background-color: white;
    padding-left: 20px;
    border: #D9D9D9;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #F2F2F2;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 60px 50px 0;
    padding: 0 350px 58px 70px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer ul {
    list-style-type: none;
}

footer li {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding-top: 12px;
}

.footer_article {
    display: flex;
    flex-direction: column;
}

.footer_article_title {
    font-size: 18px;
    font-weight: bold;
    padding: 45px 0 8px;
}

/* Tablettes */
@media (max-width: 991px) {
    .filter_title {
        margin-right: 15px;
    }

    .filter_button {
        margin-bottom: 10px;
        margin-right: 0px;
        font-size: 16px;
        padding: 12px 18px;
    }

    .accommodations {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .accommodation_main {
        margin-right: 0;
    }

    .accommodation_main_article {
        width: 180px;
        height: 159px;
        padding: 5px;
        border-radius: 20px;
        background-color: #FFFFFF;
        box-shadow: 10px 5px 5px rgb(231, 231, 231);
    }
    
    .accommodation_main_article h3 {
        margin-top: 4px;
        font-size: 15px;
    }
    
    .accommodation_main_img img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        /* Equivalent à : border-radius: 20px 20px 0px 0px;*/
        display: block;
        width: 100%;
        height: 84px;
        object-fit: cover;
    }
    
    .accommodation_main_text {
        line-height: 23px;
        margin-left: 14px;
    }

    .accommodation_aside {
        display: flex;
        flex-direction: column;
        padding-top: 42px;
        padding-right: 20px;
        margin-top: 30px;
        border-radius: 30px;
        background-color: rgb(242, 242, 242);
    }

    .accommodation_aside_articles {
        display: flex;
        justify-content: space-between;
    }

    .accommodation_aside_article {
        max-width: 210px;
        height: 140px;
        margin-right: 10px;
    }
    
    .accommodation_aside_img img {
        width: 86px;
    }
    
    .accommodation_aside_text {
        font-size: 11px;
    }

    .accommodation_aside_text h3 {
        font-size: 12px;
    }

    .activity_article {
        height: 267px;
    }

    footer {
        padding: 0 100px 58px 70px;
        margin-top: 69px;
    }
}


/* telephones */
@media (max-width: 767px) {
    .container {
        padding-left: 20px;
    }

    header {
        padding: 0;
        flex-direction: column;
        align-items: initial;
    }

    .logo {
        padding-top: 40px;
        width: 60px;
        height: auto;
        margin: 0 auto;
    }

    .menu ul li {
        flex-basis: 50%;
        flex-shrink: 0;
    }

    .menu a {
        border-bottom: solid 2px #D9D9D9;
        padding-bottom: 24px;
        margin: 0;
        text-align: center;
    }

    .menu a:hover {
        text-decoration: none;
        color: var(--color-primary);
        border-top: none;
        border-bottom: solid 2px var(--color-primary);
    }

    .undertext {
        margin-bottom: 20px ;
    }

    .search {
        padding: 0 20px 0 20px;
    }

    .search_text {
        width: 80%;
    }

    .search_button {
        font-size: 0;
    }

    .search_button .fa {
        color: white;
        font-size: initial;
        display: block
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: inherit;
        padding-right: 0;
    }

    .filter_title {
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .filter_buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }
    
    .filter_button {
        margin-right: 10px;
        font-size: 10px;
        width: 165px;
    }

    .filter_button:hover {
        background-color: white;
        border: 1px solid #ccc;
    }

    .information {
        padding-right: 0;
    }

    .accommodations {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .accommodation_aside {
        border-radius: 0;
        margin: 0;
        padding: 42px 0;
    }

    .popular_icon {
        padding-right: 20px;
    }

    .accommodation_aside_articles {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    
    .accommodation_aside_article {
        height: 144px;
        max-width: none;
        margin-right: 0;
    }

    .accommodation_main {
        background-color: white;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .accommodation_title {
        padding-left: 20px;
    }
    
    .accommodation_main_articles {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: initial;
        flex-wrap: wrap;
        /* add a negative top-margin to the flex container */
        margin: -30px 0 0 0;
        padding: 0 20px;
    }

    .accommodation_main_articles > a {
        align-items: initial;
    }

    .accommodation_main_article {
        width: initial;
        padding: 5px;
        border-radius: 20px;
        background-color: #FFFFFF;
        overflow: hidden;
        box-shadow: 10px 5px 5px rgb(231, 231, 231);
    }

    .accommodation_main_plus {
        visibility: hidden;
    }

    .activity_list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .activity_list > a {
        flex-grow: 1;
        flex-basis: initial;
    }

   .activity_article {
        width: 320px;
        height: 190px;
        margin-bottom: 20px;
    }
    
    .activity_img {
        height: 134px;
    }

    .activity_img img {
        width: 100%;
        object-fit: cover;
    }
    
    .activity_text {
        background-color: #FFFFFF;
        height: 56px;
    }
    
    footer {
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
        margin: 0;
    }

    footer ul {
        padding: 0;
    }
}

