/* COLORS */
/* PADDINGS */
/* MARGINS */
/* SIZES */
body {
  background: #FFFFFF;
  font-family: "Roboto";
  margin: 0;
  font-size: 16px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 14px;
  color: #000;
}

h3 {
  font-size: 12px;
  color: #666;
  font-weight: normal;
}

.container {
  max-width: 500px;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/shrikhand/Shrikhand-Regular.otf") format("truetype");
}
.btn-primary {
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(231, 231, 231);
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9656DC);
  cursor: pointer;
  margin: 10px;
}
.btn-primary--full-width {
  width: 95%;
}
.btn-primary:hover {
  background: linear-gradient(#9656DC, #FF79DA);
}

.btn-secondary {
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(231, 231, 231);
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #FFFFFF;
  background: rgb(247, 247, 247);
  cursor: pointer;
  margin: 10px;
  height: 60px;
  color: black;
}
.btn-secondary--full-width {
  width: 95%;
}
.btn-secondary:hover {
  background: rgb(245, 237, 255);
}

.btn-tertiary {
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(231, 231, 231);
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: black;
  background: white;
  cursor: pointer;
  margin: 10px;
  height: 70px;
  border: none;
}
.btn-tertiary--full-width {
  width: 95%;
}
.btn-tertiary:hover {
  background: rgb(247, 247, 247);
}

.img-header {
  width: 200px;
}

.picto {
  margin-right: 10px;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 40%;
  max-width: 200px;
  margin: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(247, 247, 247);
}

.search_input {
  margin-bottom: 20px;
  background-color: #dedede;
  width: 100%;
  max-width: 400px;
  height: 40px;
  border: 0px;
  text-align: center;
}

.maintext {
  font-size: 22px;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.undertext {
  color: #666;
  margin-bottom: 20px;
  font-size: 18px;
}

.btn_search {
  margin-bottom: 60px;
}

input[type=text] {
  margin-bottom: 20px;
  box-shadow: inset 0 1px 0 0 #888;
  background-color: #dedede;
  height: 40px;
  border: 0px;
  text-align: center;
}

.searchcity {
  position: relative;
  width: 100%;
}

.searchcity i {
  position: absolute;
  left: 90px;
  top: 12px;
}

.button-list {
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card-title {
  font-family: "Shrikhand";
  font-size: 22px;
}

.card-container {
  background-color: rgb(247, 247, 247);
  margin-top: 40px;
  padding: 20px 10px;
}
.card-container__rounded {
  border-radius: 40px 40px 0px 0px;
}
.card-container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.card-container_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}
.card-container_title {
  margin-bottom: 20px;
}
.card-container_body_article {
  height: 199px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px rgb(231, 231, 231);
}
.card-container_body_img img {
  border-radius: 20px 20px 0px 0px;
  display: block;
  width: 100%;
  height: 124px;
  object-fit: cover;
}
.card-container_body_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-left: 14px;
  margin-right: 14px;
  line-height: 0.5em;
}

.card-menu {
  padding-top: -40px;
}

.dish-title {
  text-transform: uppercase;
  color: #666;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}
.dish-title:after {
  content: "";
  width: 40px;
  height: 3px;
  left: 0;
  background: #99E2D0;
  position: absolute;
  bottom: -4px;
}
.dish-name {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
}
.dish-detail {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #666;
}
.dish-price {
  font-weight: bold;
}

.btn-menu {
  width: 150px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #535353;
  color: #FFFFFF;
  padding: 10px;
}
footer ul {
  list-style-type: none;
}
footer a {
  color: #FFFFFF;
  line-height: 1.5em;
}

.footer_article {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.footer_title {
  font-size: 16px;
  font-family: "Shrikhand";
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
