.btn-pink {
    @include btn;
    color: $color-white;
    background:linear-gradient($color-secondary, $color-primary);
    &:hover{
        background:linear-gradient($color-primary, $color-secondary);
    }
}

.btn-grey {
    @include btn;
    height: 60px;
    color: $color-white;
    background: $color-light-grey;
    color: black;
    &:hover{
        background: $color-light-pink;
    }
}

