.tag {
    display: inline-block;
    background-color: $color-tertiary;
    color: darken($color-tertiary,36);
    font-weight: bold;
    padding: 5px 10px;
    margin: 10px;
    @include tag-size($tag-media-queries);
    text-align: center;
}