@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/shrikhand/Shrikhand-Regular.otf') format('truetype');
}

