@mixin shadow($color: $color-shadow) {
    box-shadow: 5px 5px 5px $color;
}

@mixin border-radius {
    border-radius: 18px;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin btn(
    $text-color: $color-white,
    $background-color: $color-background-primary,
    $hover-background-color: $color-secondary-lighter,
    $color-shadow: $color-shadow
    ) {
    padding: $default-padding;
    @include shadow($color-shadow);
    @include border-radius;
    margin-bottom: $default-margin;
    font-size: $size-card-text;
    color: $text-color;
    background: $background-color;
    cursor: pointer;
    &--full-width {
        width: 100%;
    }
    &:hover{
        background: $hover-background-color;
    }
}

@mixin card {
    height: 199px;
    padding: 5px;
    margin-bottom: 20px;
    @include border-radius;
    background-color: #FFFFFF;
    @include shadow;
}
