$color-primary: #9656DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-dark-grey: #535353;
$color-light-grey: #EEE;
$color-light-black: #666;
$color-white: #FFFFFF;
$color-shadow: rgb(231, 231, 231);

$padding: 10px;
$padding-footer: 10px;