
.dish {
    &-title {
        text-transform: uppercase;
        color: $color-secondary-text;
        position: relative;
        margin-top: 20px;
        margin-bottom: 15px;
        transition: transform 280ms ease-out 50ms;
        animation: apparition 1s;
        animation-fill-mode: forwards;


        &:after {
            content: '';
            width: 40px;
            height: 3px;
            left:0;
            background: $color-tertiary;
            position: absolute;
            bottom: -4px;
          }
    }

    &-name {
        transition: all 280ms ease-out 50ms;
        max-width: 100%;
        font-size: $size-card-title;
        font-weight: bold;
        padding-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-detail {
        font-size: $size-card-text;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $color-secondary-text;
    }

    &-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-price {
        font-weight: bold;
        transition: transform 280ms ease-out 50ms;
    }
}

.btn-menu {
    width:150px;
}