header {
    padding: $default-padding;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a {
        position: absolute;
        left: 15px;
        top: -8px;
    }

    i {
        position: absolute;
        left: 10px;
        top : 34px;
    }
}

.logo {
    width: 50%;
    max-width: 200px;
    margin: 5PX;
}