.item-list {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .item {
            margin-right: 20px;
        }
    }
}