.search {
    background-color: #EAEAEA;
    margin-bottom: $default-margin;
    box-shadow: inset 0px 7px 5PX -9px rgba(0,0,0,0.6);
}

.search_input {
    background: transparent;
    height: 40px;
    border: 0px;
    padding: 4px 0;
    text-align: center;
}

.search_input:focus {
    outline: none;
}

.search_input {
    position: relative;
    left: -12px;
}

.search i {
    position: relative;
    left: 24px;
}

.maintext {
    font-size: $size-main-title;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: $default-margin;
}

.undertext {
    color: $color-secondary-text;
    margin-bottom: $default-margin;
    font-size: $size-secondary-title;
}

.btn_search {
    margin-bottom: $default-margin * 3;
}

.search > form {
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}